@import '../../sass/variables';

:host {
    background-color: lightgray;
    height: 100%;
    display: flex;
}
.dashboard-page {
    width: 100%;
    padding: 15px 10px;
    .top-card {
        background-color: #fff;
        border-radius: 10px;
        height: 85px;
        justify-content: center;
        align-items: center;
        border-left: 6px solid $primary-color;
        padding: 20px;
        .card-detail{
            display: flex;
            flex-direction: column;
            font-weight: 600;
            span:first-child{
                font-size: 12px;
            }
            span:last-child{
                font-size: 18px;
            }
        }
        .icon-top {
            font-size: 30px;
            font-weight: 600;
            color: darkgray;
        }
    }
    .chart-card {
        background-color: #fff;
        border-radius: 10px;
        height: 270px;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 14px;
    }
    .chart-body-1 {
        height: 150px;
        width: 220px;
    }
    .chart-body-2 {
        height: 200px;
        width: 480px;
        padding-top: 25px;
    }
}