
<div class="its-card ">
 <h3 class="card-header ps-3 d-flex justify-content-between">
  <span>View Bundle</span> 
		<div>
			<div class="form-group">
				<!-- <mat-form-field class="example-full-width"> -->
						<!-- <mat-label>Select Adda*</mat-label> -->
						<input type="text"
												placeholder="Select Adda"
												aria-label="Number"
												matInput
												[formControl]="myControlAdda"
												[matAutocomplete]="auto" class="form-control"
												>
												<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="optionSelectedAdda($event)" >
								<mat-option *ngFor="let option of filteredOptionsAdda | async" [value]="option.addaNo">
										{{option.addaNo}}
								</mat-option>
						</mat-autocomplete>
				<!-- </mat-form-field> -->
		</div>

		</div>
 </h3>
    
 <div class="card-body flex-center">        
  <div class="flex-center finish-goods card-body">
   <!-- <div class="flex-center">
    <mat-spinner *ngIf=showSpinner diameter=125></mat-spinner>
   </div>  -->
			<div *ngIf="!showTable">
				<h2>Please select Adda</h2>
			</div>
	</div>
			<div *ngIf="showTable" class="finish-goods card-body">	
        <!-- <div class="hv-80"> -->
					<!-- <app-bundle-detail-table [cssValue]="'73vh'" [bundleDataFromParent]="bundleDetailObj"></app-bundle-detail-table>   -->
					<app-bundle-detail-table [cssValue]="{'parent': '80vh','body':'73vh'}" [bundleDataFromParent]="bundleDetailObj"></app-bundle-detail-table>  
				<!-- </div>		 -->
			</div>
	</div>
</div>