<div class="its-card">
  <h3 class="card-header ps-3">Add Brand</h3>
  <div class="row settings-comp">
    <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="form-group col-6">
            <label for="brandName">Brand Name:</label>
            <input type="text" id="brandName" formControlName="brandName" class="form-control"/>
            <div *ngIf="brandForm.get('brandName')?.invalid && brandForm.get('brandName')?.touched" class="error invalid-red">
              <div *ngIf="brandForm.get('brandName')?.errors?.['required']">
                Supplier name is required.
              </div>
              <div *ngIf="brandForm.get('brandName')?.errors?.['minlength']">
                Supplier name must be at least 3 characters long.
              </div>
            </div>
          </div>
      
          <div class="form-group col-6">
            <label for="mobNumber">Mobile Number: (+91)</label>
            <input type="text" id="mobNumber" formControlName="mobNumber" maxlength="10" class="form-control"/>
            <div *ngIf="brandForm.get('mobNumber')?.invalid && brandForm.get('mobNumber')?.touched" class="error invalid-red">        
              <div *ngIf="brandForm.get('mobNumber')?.errors?.['required']">
                Mobile number is required
              </div>
              <div *ngIf="brandForm.get('mobNumber')?.errors?.['pattern']">
                It only accept numbers
              </div>
              <div *ngIf="brandForm.get('mobNumber')?.errors?.['minlength']">
                Mobile number should be 10 digits long.
              </div>
            </div>
          </div>

          <div class="form-group col-6">
            <label for="gstin">GSTIN:</label>
            <input type="text" id="gstin" formControlName="gstin" maxlength="15" class="form-control"/>
            <div *ngIf="brandForm.get('gstin')?.invalid && brandForm.get('gstin')?.touched" class="error invalid-red">
              Invalid GSTIN. It should be 15 alphanumeric characters long.
            </div>
          </div>
      
          <div class="form-group col-6">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control"/>
            <div *ngIf="brandForm.get('email')?.invalid && brandForm.get('email')?.touched" class="error invalid-red">
              Invalid email address.
            </div>
          </div>
      
          <div class="form-group col-6">
            <label for="address">Address:</label>
            <textarea name="" id="address" cols="30" rows="2" formControlName="address" class="form-control"></textarea>
            <div *ngIf="brandForm.get('address')?.invalid && brandForm.get('address')?.touched" class="error invalid-red">
              Address is required.
            </div>
          </div>
      
          <div class="form-group col-6">
            <label for="remark">Remark:</label>
            <textarea name="" id="remark" cols="30" rows="2" formControlName="remark" class="form-control"></textarea>
            <div *ngIf="brandForm.get('remark')?.invalid && brandForm.get('remark')?.touched" class="error invalid-red">
              Remark is required.
            </div>
          </div>
      </div>

      <div class="form-group mt-3">
        <button type="submit" mat-flat-button color="primary" [disabled]="brandForm.invalid">
          {{ editedMaterialIndex !== null ? 'Update Brand' : 'Add Brand' }}
        </button>
      </div>
    </form>

    <div class="row col-12 p-3">
      <table class="table table-bordered table-striped mt-4" *ngIf="brands.length">
        <thead>
          <tr>
            <th class="text-center">Supplier Name</th>
            <th class="text-center">Mobile Number</th>
            <th class="text-center">GSTIN</th>
            <th class="text-center">Email</th>
            <th class="text-center">Address</th>
            <th class="text-center">Remark</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let supplier of brands; let i = index">
            <td class="text-center">{{ supplier.brandName }}</td>
            <td class="text-center">{{ supplier.mobNumber }}</td>
            <td class="text-center">{{ supplier.gstin }}</td>
            <td class="text-center">{{ supplier.email }}</td>
            <td class="text-center">{{ supplier.address }}</td>
            <td class="text-center">{{ supplier.remark }}</td>
            <td>
              <button (click)="editSupplier(supplier,i)" class="btn btn-sm me-2 btn-primary">Edit</button>
              <button (click)="deleteSupplier(supplier)" class="btn btn-sm btn-danger" [disabled]="deleteBtnDisabled">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
      
    