<div class="its-card">
    <h3 class="card-header ps-3 d-flex justify-content-between">
      <span>Details Adda</span> 
    </h3>
    
    <div class="finish-goods card-body flex-center">
        <div class="details-adda-parent wp-100 flex-row">
           <div class="left wp-55 hv-85">
            <div class="material hv-40">
                <div class="its-card">
                    <h6 class="card-header ps-3 d-flex justify-content-between">
                    <span>Material</span> 
                    </h6>                    
                    <div class="finish-goods card-body flex-center">
                        2                        
                    </div>
                </div>
            </div>
            <div class="pattern hv-40">
                <div class="its-card">
                    <h6 class="card-header ps-3 d-flex justify-content-between">
                    <span>Pattern</span> 
                    </h6>                    
                    <div class="finish-goods card-body flex-center">
                        2                        
                    </div>
                </div>
            </div>
       
           </div>
           <div class="right wp-45 hv-85">
                <div class="its-card">
                    <h6 class="card-header ps-3 d-flex justify-content-between">
                    <span>Details Adda</span> 
                    </h6>                    
                    <div class="finish-goods card-body flex-center">
                        2                        
                    </div>
                </div>
           </div>
        </div>

    </div>
 