<div class="its-card row col-6">
    <h3 class="card-header ps-3">Login User</h3>
    <div class="row pt-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row login">
                <div class="row text-center" *ngIf="isLoginError">
                    <h5 class="text-danger">Invalid Credential!!</h5>
                </div>
                <div class="row">
                    <label for="username" class="p-0">Username*</label>
                    <input type="text" id="username" formControlName="username" class="form-control">
                    <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched"
                        class="invalid-red">
                        Username is required.
                    </div>
                </div>
                <div class="row mt-4">
                    <label for="password" class="p-0">Password*</label>
                    <input type="password" id="password" formControlName="password" class="form-control">
                    <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
                        class="invalid-red">
                        Password is required.
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-center mt-10">
                    <button type="submit" mat-flat-button color="primary" [disabled]="loginForm.invalid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>