<h1>Dispatch</h1>

<form [formGroup]="dispatchInventoryForm" (ngSubmit)="onSubmit()">
    <!-- Brand -->
    <div>
        <label for="brand">Brand:</label>
        <select id="brand" formControlName="brand" required>
          <option value="">Select</option>
          <option *ngFor="let option of brandNamesData" [value]="option">{{ option }}</option> 
        </select>
        <div *ngIf="dispatchInventoryForm.controls.brand.invalid && (dispatchInventoryForm.controls.brand.dirty || dispatchInventoryForm.controls.brand.touched)"  class="invalid-red">
          <div *ngIf="dispatchInventoryForm.controls.brand.errors.required">
            brand is required.
          </div>
        </div>
      </div>

    <!-- Product -->
    <div>
        <label for="product">Product:</label>
        <select id="product" formControlName="product" required>
          <option value="">Select</option>
          <option *ngFor="let option of productData" [value]="option">{{ option }}</option> 
        </select>
        <div *ngIf="dispatchInventoryForm.controls.product.invalid && (dispatchInventoryForm.controls.product.dirty || dispatchInventoryForm.controls.product.touched)"  class="invalid-red">
          <div *ngIf="dispatchInventoryForm.controls.product.errors.required">
            product is required.
          </div>
        </div>
      </div>

    <!-- Design Number -->
    <div>
        <label for="designNumber">Design Number:</label>
        <select id="designNumber" formControlName="designNumber" required>
          <option value="">Select</option>
          <option *ngFor="let option of designNumberData" [value]="option">{{ option }}</option> 
        </select>
        <div *ngIf="dispatchInventoryForm.controls.designNumber.invalid && (dispatchInventoryForm.controls.designNumber.dirty || dispatchInventoryForm.controls.designNumber.touched)"  class="invalid-red">
          <div *ngIf="dispatchInventoryForm.controls.designNumber.errors.required">
            Design Number is required.
          </div>
        </div>
    </div>

    <!-- Quantity -->
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" formControlName="quantity">
        <div *ngIf="dispatchInventoryForm.controls.quantity.invalid && dispatchInventoryForm.controls.quantity.touched" class="invalid-red">
          <div *ngIf="dispatchInventoryForm.controls.quantity.errors.required">Quantity is required.</div>
          <div *ngIf="dispatchInventoryForm.controls.quantity.errors.min">Quantity must be at least 1.</div>
        </div>
      </div>
  
    <button type="submit" [disabled]="dispatchInventoryForm.invalid">Submit</button>
  </form>