<div class="its-card">
    <h3 class="card-header ps-3">Add Design</h3>
    
    <div class="flex-center">
      <mat-spinner *ngIf="showSpinner" diameter=125></mat-spinner>
    </div>
    <div class="settings-comp" *ngIf="!showSpinner">

      <div [formGroup]="designReactiveForm">
        <div class="row"> 
          <div class="form-group col-6">
            <label for="brandDropdown">Select brand:*</label>
            <select id="brandDropdown" formControlName="brandDropdown" class="form-control">              
              <option value="">Select</option>
              <option *ngFor="let option of brandDropdownValues" [value]="option">{{ option }}</option>
            </select>
            <div *ngIf="designReactiveForm.get('brandDropdown')?.invalid && designReactiveForm.get('brandDropdown')?.touched">
              <span style="color: red;">Brand is required.</span>
            </div>
          </div>
        
          <div class="form-group col-6">
            <label for="productDropdown">Select product:*</label>
            <select id="productDropdown" formControlName="productDropdown" class="form-control">            
              <option value="">Select</option>
              <option *ngFor="let option of productDropdownValues" [value]="option.entityCd">{{ option.displayValue }}</option>
            </select>
            <div *ngIf="designReactiveForm.get('productDropdown')?.invalid && designReactiveForm.get('productDropdown')?.touched">
              <span style="color: red;">Product is required.</span>
            </div>
          </div>
          
          <div class="form-group mt-2">
            <label for="inputField">Design number:*</label>
            <input type="text" id="inputField" formControlName="inputField" class="form-control">
            <div *ngIf="designReactiveForm.get('inputField')?.invalid && designReactiveForm.get('inputField')?.touched">
              <div *ngIf="designReactiveForm.get('inputField')?.hasError('required')">
                <span style="color: red;">Design number is required.</span>
              </div>
              <div *ngIf="designReactiveForm.get('inputField')?.hasError('minlength')">
                <span style="color: red;">Design number must be at least 3 characters long.</span>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button type="submit" (click)="onSubmit()" [disabled]="designReactiveForm.invalid" mat-flat-button color="primary">
              {{ addMsg == true ? 'Add Design' : 'Update Design' }}
            </button>
          </div>
        </div>
      
      </div>

      <table class="table mt-4">
        <thead>
          <tr>
            <th>Brand Value</th>
            <th>Product Value</th>
            <th>Design Number</th>
            <th>Action</th>
            <th>Process</th>
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let entry of formEntries; let i = index">
            <td>{{ entry.brandDropdown }}</td>
            <td>{{ entry.productDropdown }}</td>
            <td>{{ entry.inputField }}</td>
            <td>
              <button (click)="onEdit(i)" class="btn btn-sm me-2 btn-primary">Edit</button>
              <button (click)="onDelete(i)" class="btn btn-sm btn-danger" [disabled]="deleteBtnDisabled">Delete</button>
            </td>
            <td>
              <button (click)="selectProcess(entry)" class="btn btn-sm me-2 btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Select</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <!-- Modal -->
  <div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-process-modal [modalValue]="modalValue"></app-process-modal>
  </div>
    
</div>
      
    