<div class="its-card">
    <h3 class="card-header ps-3">Add Subcategory</h3>
    <div class="flex-center">
      <mat-spinner *ngIf=showSpinner diameter=125></mat-spinner>
    </div>
    <div class="settings-comp" *ngIf="!showSpinner">
      <div class="form-input-sticky">
        <form [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-6">
            <label for="material">Select material  </label>
              <select id="material" formControlName="material" class="form-control">
                <option value="">Select</option>
                <option *ngFor="let option of dropDownValue" [value]="option?.entityCd">{{ option?.displayValue }}</option>
              </select>
            <div *ngIf="subCategoryForm.get('material')?.invalid && subCategoryForm.get('material')?.touched" class="error invalid-red">
              Please enter a valid text.
            </div>
          </div>
  
  
          <div class="form-group mt-2">
            <label for="name">Subcategory Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <div *ngIf="subCategoryForm.get('name')?.invalid && subCategoryForm.get('name')?.touched" class="error invalid-red">
              Please enter a valid text.
            </div>
          </div> 
          <div class="form-group mt-3">
            <button type="submit" [disabled]="subCategoryForm.invalid" mat-flat-button color="primary">
              {{ editedSubCategoryIndex !== null ? 'Update SubCategory' : 'Add SubCategory' }}
            </button>
          </div>
        </form>
      </div>

      <div class="flex-center">
        <mat-spinner *ngIf="showSpinnerTable" diameter=125></mat-spinner>
      </div>       
      <table class="table mt-4" *ngIf="!showSpinnerTable">
        <thead>
          <tr>
            <th>Material Name</th>
            <th>Subcategory Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of subCategoryArray; let i = index">
            <td>{{ data.parentDisplayValue }}</td>
            <td>{{ data.displayValue }}</td>
            <td>
              <button (click)="edit(data, i)" class="btn btn-sm me-2 btn-primary">Edit</button>
              <button (click)="delete(data)" class="btn btn-sm btn-danger" [disabled]="deleteBtnDisabled">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    
    </div>
      
    