<div class="its-card">
    <h3 class="card-header ps-3">Add Subcategory</h3>
    <div class="settings-comp" *ngIf="showPage">
      <!-- <input type="checkbox" (change)="checkBoxFn($event.target)"> For Accessory -->
      <div class="col-6">
        <select (change)="onDropdownChange($event.target)">
          <option *ngFor="let value of dropDownValue" [value]="value" [selected]="selectedValue === value">{{ value }}</option>
        </select>
      </div>
      <form [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Subcategory Name ({{selectedValue}})</label>
          <input type="text" id="name" formControlName="name" class="form-control">
          <div *ngIf="subCategoryForm.get('name')?.invalid && subCategoryForm.get('name')?.touched" class="error invalid-red">
            Please enter a valid text.
          </div>
        </div> 
        <div class="form-group mt-3">
          <button type="submit" [disabled]="subCategoryForm.invalid" mat-flat-button color="primary">
            {{ editedSubCategoryIndex !== null ? 'Update SubCategory' : 'Add SubCategory' }}
          </button>
        </div>
      </form>
      
      <table class="table mt-4">
        <thead>
          <tr>
            <th>Subcategory Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of subCategoryData; let i = index">
            <td>{{ data.name }}</td>
            <td>
              <button (click)="edit(data, i)" class="btn btn-sm me-2 btn-primary">Edit</button>
              <button (click)="delete(i)" class="btn btn-sm btn-danger" [disabled]="deleteBtnDisabled">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    
    </div>
      
    