<div class="its-card">
  <h3 class="card-header ps-3">Add Stock</h3>
  <div class="row">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!-- billNumber -->
      <div class="row add-stock">
        <div class="col-6">
          <label for="billNumber">Bill Number</label>
          <input class="form-control" type="text" id="billNumber" formControlName="billNumber" required>
          <div
            *ngIf="userForm.controls.billNumber.invalid && (userForm.controls.billNumber.dirty || userForm.controls.billNumber.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.billNumber.errors.required">
              Bill Number is required.
            </div>
            <div *ngIf="userForm.controls.billNumber.errors.minlength">
              Bill Number must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date" formControlName="date" required>
          <div *ngIf="userForm.controls.date.invalid && (userForm.controls.date.dirty || userForm.controls.date.touched)">
            <div *ngIf="userForm.controls.date.errors.required" class="invalid-red">
              Date is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="packingSlipNumber">Packing Slip Number</label>
          <input type="text" class="form-control" id="packingSlipNumber" formControlName="packingSlipNumber" required>
          <div
            *ngIf="userForm.controls.packingSlipNumber.invalid && (userForm.controls.packingSlipNumber.dirty || userForm.controls.packingSlipNumber.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.packingSlipNumber.errors.required">
              Packing Slip Number is required.
            </div>
            <div *ngIf="userForm.controls.packingSlipNumber.errors.minlength">
              Packing Slip Number must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="supplier">Supplier</label>
          <select id="supplier" formControlName="supplier" class="form-control" required>
            <option value="">Select</option>
            <option *ngFor="let option of supplierData" [value]="option">{{ option }}</option>
          </select>
          <div
            *ngIf="userForm.controls.supplier.invalid && (userForm.controls.supplier.dirty || userForm.controls.supplier.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.supplier.errors.required">
              Supplier is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="isCloth">Is Cloth?</label>
          <select id="isCloth" formControlName="isCloth" class="form-control" required>
            <option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <div
            *ngIf="userForm.controls.isCloth.invalid && (userForm.controls.isCloth.dirty || userForm.controls.isCloth.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.isCloth.errors.required">
              isCloth is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="material">Material</label>
          <select id="material" formControlName="material" class="form-control" required>
            <option value="">Select</option>
            <option *ngFor="let option of materialData" [value]="option">{{ option }}</option>
          </select>
          <div
            *ngIf="userForm.controls.material.invalid && (userForm.controls.material.dirty || userForm.controls.material.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.material.errors.required">
              Material is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="subCategory">Sub Category</label>
          <select id="subCategory" formControlName="subCategory" class="form-control" required>
            <option value="">Select</option>
            <option *ngFor="let option of subCategoryData" [value]="option">{{ option }}</option>
  
          </select>
          <div
            *ngIf="userForm.controls.subCategory.invalid && (userForm.controls.subCategory.dirty || userForm.controls.subCategory.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.subCategory.errors.required">
              Sub Category is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="colorFabricCode">Color Fabric Code</label>
          <select id="colorFabricCode" formControlName="colorFabricCode" class="form-control" required>
            <option value="">Select</option>
            <option *ngFor="let option of colorFabricCodeData" [value]="option">{{ option }}</option>
          </select>
          <div
            *ngIf="userForm.controls.colorFabricCode.invalid && (userForm.controls.colorFabricCode.dirty || userForm.controls.colorFabricCode.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.colorFabricCode.errors.required">
              Color Fabric Code is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="measurementType">Measurement Type</label>
          <select id="measurementType" formControlName="measurementType" class="form-control" required>
            <option value="">Select</option>
            <option *ngFor="let option of measurementTypeData" [value]="option">{{ option }}</option>
          </select>
          <div
            *ngIf="userForm.controls.measurementType.invalid && (userForm.controls.measurementType.dirty || userForm.controls.measurementType.touched)"
            class="invalid-red">
            <div *ngIf="userForm.controls.measurementType.errors.required">
              Measurement Type is required.
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" formControlName="quantity" class="form-control">
          <div *ngIf="userForm.controls.quantity.invalid && userForm.controls.quantity.touched" class="invalid-red">
            <div *ngIf="userForm.controls.quantity.errors.required">Quantity is required.</div>
            <div *ngIf="userForm.controls.quantity.errors.min">Quantity must be at least 1.</div>
          </div>
        </div>
        <div class="col-6">
          <label for="amount">Amount</label>
          <input type="number" id="amount" formControlName="amount" class="form-control">
          <div *ngIf="userForm.controls.amount.invalid && userForm.controls.amount.touched" class="invalid-red">
            <div *ngIf="userForm.controls.amount.errors.required">Amount is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-end">
          <button type="submit" mat-flat-button color="primary" [disabled]="userForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>

</div>
