@import '../sass/variables';


:host {
    height: 100vh !important;
    display: flex;
}

.active{
    background-color: $white !important;
    color: $primary-color !important;
}

.sub-active {
    font-weight: 700;
    background-color: lightcyan; 
}

.navigation-row {
    background-color: $primary-color;
    
    .midox {
        width: 70px;
        display: flex;
        margin: 0 auto;
        font-size: 21px;
        margin-top: 45px;
        margin-right: 10px;
        color: #fff;
        font-weight: 600;
        border-radius: 50%;
        height: 70px;
    }
    
    .logo-icon {
        height: 40px;
    }

    .tab-list {
        list-style-type: none;
        padding: 0;
        margin-top: 8rem;
        a{
            color: #fff;
            font-weight: 600;
            font-size: 11px;
            padding-left: 6px;
            align-items: center;
            &:hover {
                color: #fff;
            }
        }
    }

    .mb-link {
        margin-bottom: 30px;
    }

    
}

.a-tag{
    // background-color: red;
    a{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}