<div class="row navigation-row">
    <a [routerLink]="['/']" class="logo-icon">
        <img src="./../../assets/logo.png" alt="logo" class="midox">
    </a>
    <ul class="row tab-list">
        <a [routerLink]="['/dashboard']" class="d-flex mb-link" routerLinkActive="active">
            <span class="material-symbols-outlined me-2">
                dashboard
            </span>
            <li>Dashboard</li>
        </a>
        <!-- <a [routerLink]="['/inventory']" class="d-flex mb-link" routerLinkActive="active" [matMenuTriggerFor]="menu"> -->
        <a class="d-flex mb-link cursor-pointer" routerLinkActive="active" [matMenuTriggerFor]="menu">
            <span class="material-symbols-outlined me-2">
                bar_chart
            </span>
            <li>Inventory</li>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="midox-menu">
                <mat-icon class="icon-mat">add_circle_outline</mat-icon>
              <!-- <span>Add Stock</span> -->
              <a [routerLink]="['inventory/add-stock']" routerLinkActive="sub-active" class="submenu-link">Add Stock</a>
            </button>
            <button mat-menu-item class="midox-menu">
              <mat-icon class="icon-mat">remove_red_eye</mat-icon>
              <a [routerLink]="['inventory/view']" class="submenu-link" routerLinkActive="sub-active">View</a>
              <!-- <span>View</span> -->
            </button>
            <button mat-menu-item class="midox-menu">
                <mat-icon class="icon-mat">history</mat-icon>
              <!-- <span>Stock History</span> -->
              <a [routerLink]="['inventory/stock-history']" class="submenu-link" routerLinkActive="sub-active">Stock History</a>
            </button>
            <button mat-menu-item class="midox-menu">
              <mat-icon class="icon-mat">check</mat-icon>
              <!-- <span>Finish Goods</span> -->
              <a [routerLink]="['inventory/finish-goods']" class="submenu-link" routerLinkActive="sub-active">Finish Goods</a>
            </button>
            <button mat-menu-item class="midox-menu">
                <mat-icon class="icon-mat">directions_bus</mat-icon>
              <!-- <span>Dispatch</span> -->
              <a [routerLink]="['inventory/dispatch']" class="submenu-link" routerLinkActive="sub-active">Dispatch</a>
            </button>
            <button mat-menu-item class="midox-menu">
              <mat-icon class="icon-mat me-1">history</mat-icon>
              <!-- <span>Dispatch History</span> -->
              <a [routerLink]="['inventory/dispatch-history']" class="submenu-link" routerLinkActive="sub-active">Dispatch History</a>
            </button>
        </mat-menu>
        <a [routerLink]="['/adda']" class="d-flex mb-link" routerLinkActive="active">
            <span class="material-symbols-outlined me-2">
                speaker_notes
            </span>
            <li>Adda</li>
        </a>
        <a [routerLink]="['/employee']" class="d-flex mb-link" routerLinkActive="active">
            <span class="material-symbols-outlined me-2">
                group
            </span>
            <li>Employee</li>
        </a>
        <a [routerLink]="['/settings']" class="d-flex mb-50" routerLinkActive="active">
            <span class="material-symbols-outlined me-2">
                settings
            </span>
            <li>Settings</li>
        </a>
        <hr>

        <a [routerLink]="['/logout']" class="d-flex mb-30 mt-4" routerLinkActive="active">
            <span class="material-symbols-outlined me-2">
                logout
            </span>
            <li>Logout</li>
        </a>
        <a [routerLink]="['/help']" class="d-flex mb-5" routerLinkActive="active">
            <span class="material-symbols-outlined me-2">
                help
            </span>
            <li>Help</li>
        </a>
    </ul>
</div>