@import '../sass/variables';


:host {
    height: 100vh !important;
    display: flex;
}

.midox {
    width: 70px;
    display: flex;
    margin: 0 auto;
    font-size: 21px;
    margin-top: 35px;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    height: 70px;
}

.active{
    background-color: #fff !important;
    color: $primary-color !important;
}

.navigation-row {
    background-color: $primary-color;
    .logo-icon {
        height: 40px;
    }

    .tab-list {
        list-style-type: none;
        padding: 0;
        a{
            color: #fff;
            font-weight: 600;
            font-size: 11px;
            align-items: center;
            &:hover {
                color: #fff;
            }
        }
    }
}