<div class="its-card">
<h3 class="card-header ps-3">Add Material</h3>

  <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Material Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control">
      <div *ngIf="materialForm.get('name')?.invalid && materialForm.get('name')?.touched" class="error invalid-red">
        Please enter a valid text.
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="materialForm.invalid" class="btn btn-primary">
        {{ editedMaterialIndex !== null ? 'Update Material' : 'Add Material' }}
      </button>
    </div>
  </form>
  
  <table class="table">
    <thead>
      <tr>
        <th>Material Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materials; let i = index">
        <td>{{ material.name }}</td>
        <td>
          <button (click)="editMaterial(material, i)" class="btn btn-sm btn-primary">Edit</button>
          <button (click)="deleteMaterial(i)" class="btn btn-sm btn-danger" [disabled]="deleteBtnDisabled">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
  
